/*

    selector {
        property: value;
        property: value;
        property: value;
        etc.
    }

    Selector options::after

    tag name, such as po r img
    class name, such as .green or .highlighted 
    tag.class, such as h1.green or p.highlighted

    tagname>tagname
    .classname>tagname
    tagname>.classname
    .classname>.classname
    */

.nav {

    list-style: none;
    border-style: dotted;
    width: 50%;
    margin: auto;
}

.nav>li{
    display: inline-block;
    border-style: outset;
    text-align: center;
}